<%= button_to 'Back to Discover Page', user_discover_index_path(@user), method: :get, data: { turbo: false }, local: true %><br>
<br/><br/>

<h1> Movies Index </h1>

<% @movies_facade.top_rated_movies.each do |movie|%>
  <p> Movie Title: <%= link_to "#{movie.title}", user_movie_path(@user, movie.id) %><br/>
  <p> Average Rating: <%= "#{movie.vote_avg}" %><br/><br/>
<% end %>